#-----------some ignore folder used with neovim, vscode, cland
build
.cache
.vscode
.local_history
.DS_Store
.clangd
#-----------end-------------------------------------------------
temp_build
compile_commands.json
